version: 2
updates:

  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: "yearly"

  - package-ecosystem: npm
    directory: "/kitten-house-care-web"
    schedule:
      interval: "yearly"
    groups:
      angular:
        patterns:
          - "@angular*"
          - "angular*"
          - "*angular*"
          - "@types*"
          - "*types*"
